@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #A7FF83;
  --background: #000000;
  --surface: #121212;
}

body {
  background-color: var(--background);
  color: #ffffff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #A7FF83;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #76C958;
}

